<div class="row">
  <div class="center-align">
    <button class="waves-effect waves-light btn-large blue accent-4" onclick={{action 'shuffle'}}><i class="material-icons right">refresh</i>Shuffle</button>
  </div>
</div>
