<div class="row">
  <nav class="blue-grey darken-1">
    <div class="nav-wrapper">
      <div class="col s12">
        {{link-to 'Star Wars Top Trumps' 'index' class='brand-logo'}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>{{link-to 'People' 'people'}}</li>
          <li>{{link-to 'Starships' 'starships'}}</li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="mobile-nav center-align">
    {{#link-to 'people' class='waves-effect waves-light btn-large blue darken-4'}}
      <i class="material-icons left">people</i> People
    {{/link-to}}
    {{#link-to 'starships' class='waves-effect waves-light btn-large blue darken-4'}}
      <i class="material-icons right">star</i> Starships
    {{/link-to}}
  </div>
  {{outlet}}
</div>
