<div class="card">
  <div class="card-body">
    <h2 class="card-title">Star Wars Top Trumps</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Suspendisse eu libero id enim convallis elementum.
      Integer ac varius est, eget egestas lacus.
      Etiam eget arcu a mi ultrices fermentum eget eu dui.
      Praesent blandit, est in dapibus porttitor, enim massa ultrices massa, vitae fermentum ligula arcu a felis.
      Sed vel convallis metus.
      Fusce ac dapibus quam.
      Nunc ut nunc et quam tincidunt lobortis mollis at quam.
      Phasellus bibendum erat eu mauris tincidunt varius.
      Morbi cursus odio libero, ut fermentum sem mattis at.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed quis lorem nisl.
      Curabitur est nisi, consectetur vitae egestas sed, sagittis vel lacus.
    </p>
    <p>
      In suscipit tellus varius risus luctus, at mollis ex elementum.
      Duis ullamcorper magna vitae tortor aliquet viverra.
      Curabitur ut consequat turpis.
      Praesent finibus nisi lorem, eu posuere eros posuere eu.
      Donec et facilisis dolor.
      Proin pellentesque imperdiet venenatis.
      Sed rhoncus molestie nulla, sit amet tempor ante ultricies ut.
      Morbi convallis elementum metus.
      Nulla facilisi.
      Integer suscipit malesuada mattis.
    </p>
    <p>
      Aliquam ut porttitor justo.
      Pellentesque quis rutrum nulla.
      Pellentesque non turpis ut orci pharetra varius.
      Etiam eget urna libero.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Maecenas euismod tortor tellus, eget tristique justo euismod nec.
      Aliquam fermentum, sapien quis efficitur eleifend, velit mauris hendrerit mi, id dictum massa turpis in turpis.
      Vestibulum est nisl, porta eget velit sit amet, dapibus dapibus erat.
      Etiam a felis pretium ex pharetra vulputate non eu magna.
      Maecenas suscipit, metus at sagittis hendrerit, odio turpis viverra dolor, hendrerit aliquam orci velit id augue.
      Morbi in dui in augue pellentesque fringilla.
      Aliquam congue leo mauris, quis sagittis nisi sollicitudin id.
      Mauris a neque auctor sapien sodales porttitor quis quis mi.
    </p>
    <p>
      Maecenas ac quam velit.
      Etiam a dolor non ipsum aliquam sagittis.
      Pellentesque rhoncus tempor turpis eu placerat.
      In vitae tincidunt metus, et viverra ipsum.
      Ut blandit, augue vitae auctor vulputate, ligula magna varius odio, id porta lacus erat vitae ipsum.
      Curabitur placerat, tortor vitae vestibulum luctus, turpis est feugiat ante, at posuere purus nisi eu risus.
      Etiam justo diam, pharetra rhoncus nulla quis, tincidunt lacinia magna.
      Aenean finibus dignissim nisl, in posuere lorem malesuada ut.
      Curabitur volutpat, leo id finibus fermentum, enim elit placerat mauris, ac varius libero neque ut tortor.
    </p>
    <p>
      Curabitur at lorem ut lectus dictum lacinia nec ut lectus.
      Sed sit amet finibus justo, vitae volutpat ex.
      Nulla nec finibus dui, nec posuere risus.
      Nulla volutpat lacus nec lacus consectetur, et consequat ante tincidunt.
      Aenean iaculis pellentesque dictum.
      Proin nec ultricies nunc.
      Suspendisse aliquam urna vitae dolor tristique, eu interdum nulla aliquam.
      Suspendisse ultrices luctus felis et maximus.
      Vivamus congue neque in velit imperdiet scelerisque.
      Sed volutpat imperdiet justo ut mollis.
      Nulla metus enim, sollicitudin ut condimentum a, commodo sit amet nisi.
    </p>
  </div>
</div>
