<div class="card">
  <h3 class="card-header text-center">Star Wars Top Trumps</h3>
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Suspendisse eu libero id enim convallis elementum.
      Integer ac varius est, eget egestas lacus.
      Etiam eget arcu a mi ultrices fermentum eget eu dui.
      Praesent blandit, est in dapibus porttitor, enim massa ultrices massa, vitae fermentum ligula arcu a felis.
      Sed vel convallis metus.
      Fusce ac dapibus quam.
      Nunc ut nunc et quam tincidunt lobortis mollis at quam.
      Phasellus bibendum erat eu mauris tincidunt varius.
      Morbi cursus odio libero, ut fermentum sem mattis at.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed quis lorem nisl.
      Curabitur est nisi, consectetur vitae egestas sed, sagittis vel lacus.
    </p>
    <p>
      In suscipit tellus varius risus luctus, at mollis ex elementum.
      Duis ullamcorper magna vitae tortor aliquet viverra.
      Curabitur ut consequat turpis.
      Praesent finibus nisi lorem, eu posuere eros posuere eu.
      Donec et facilisis dolor.
      Proin pellentesque imperdiet venenatis.
      Sed rhoncus molestie nulla, sit amet tempor ante ultricies ut.
      Morbi convallis elementum metus.
      Nulla facilisi.
      Integer suscipit malesuada mattis.
    </p>
  </div>
  <div class="card-footer text-center">
    {{link-to "People" "people" class="btn btn-primary mr-2"}}
    {{link-to "Starships" "starships" class="btn btn-primary ml-2"}}
  </div>
</div>
